<div class="page_header">
  <h1>Uploader</h1>
</div>

<div class="page_content">
  <form action="/submit" method="post" id="upload" enctype="multipart/form-data">
    <div class="form_field">
      <input type="file" name="file_name" class="file" data-url="/" />
    </div>
    <div class="form_field">
      <textarea name="file_description" class="file_description"></textarea>
    </div>
    <div class="form_field">
      <input type="submit" value="Save" class='btn save' />
    </div>
  </form>
</div>
