<div class="page_header">
  <h1>Upload result</h1>
</div>

<div class="page_content">
  <h3>Uploaded file path: </h3>
  <div class="uploaded_box">
    <%= @posted['file_path'] %>
  </div>

  <h3>Uploaded file description:</h3>
  <div class="uploaded_box">
    <%= @posted['file_description'] %>
  </div>

  <a href='/' class='btn try_again'>Try again</a>
</div>
